@import "reset.scss";
@import "fonts.scss";

html {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

*,
*::before,
*::after {
  /* наследовать от родителя html border-box */
  box-sizing: inherit;
}

body {
  color: blue;
}
.container {
  /* height: 1024px; */
  /* width: 1600px; */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.left-column {
  flex: 1;
  order: 1;
  width: 272px;

  .left-column__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 192px;
    margin: 0 auto;
    .logo {
      margin-top: 50px;
    }

    .join-button {
      margin-top: 50px;
      width: 192px;
      height: 48px;
      font-weight: 600;
      font-size: 16px;
      color: #ffffff;
      background: #5e81f4;
      border-radius: 10px;
      border: 0;
    }

    .menu {
      .menu__list {
        list-style-type: none;

        .menu__item {
          margin-top: 45px;
          width: 140px;

          .menu__link {
            text-decoration: none;
            color: #83919e;

            &:hover {
              color: #272829;
              font-weight: 600;
            }

            .menu__pic {
              height: 23px;
              width: 23px;
              float: left;
              margin-right: 25px;
            }
          }
        }
      }
    }

    .squere {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 80px;
      width: 192px;
      height: 232px;
      background: #f5f5fb;
      border-radius: 12px;
      position: relative;
      .squere__img {
        bottom: 175px;
        position: absolute;
      }
      .squere__text {
        position: absolute;
        font-weight: 500;
        color: #778dad;
        text-align: center;
      }

      .squere__button {
        bottom: 20px;
        font-size: 16px;
        color: #ffffff;
        width: 144px;
        height: 48px;
        background: #5e81f4;
        font-weight: 600;
        border-radius: 10px;
        border: 0;
        position: absolute;
      }
    }
  }
}

.middle-column {
  flex: 2;
  order: 2;

  background: #e5e5e5;
  .middle-column__wrapper {
    max-width: 870px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    position: relative;

    .search-form {
      margin-top: 50px;
      left: 0;
      width: 472px;
      height: 55px;
      background: #ffffff;
      border-radius: 10px;
      position: relative;

      .search-form__item {
        position: absolute;
        padding: 15px;

        .search-form__text {
          font-weight: normal;
          color: #ccd6e8;
          text-align: center;
        }
        .search-form__icon {
          float: left;
          margin-right: 15px;
        }
      }
    }
  }
}

.right-column {
  flex: 1;
  order: 3;
  width: 384px;
  .right-column__wrapper {
    max-width: 312px;
    margin: 0 auto;
  }
}
